<!DOCTYPE html>
<html>
<head>
  <title>Wikipedia</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'articulos.css' %}">
</head>
<body>
  <div class="container">
    <!-- Panel izquierdo -->
    <div class="left-panel">
      <h2 class="title">WIKIPEDIA</h2>
      <!-- Barra de búsqueda -->
      <div class="search-container">
        <input type="text" placeholder="Buscar..." class="search-input">
        <button class="search-button">Buscar</button>
      </div>
      <h3 class="title">Temas:</h3>
      <!-- Tema 1 -->
      <div>
        <a href="{% url 'wikiApp:Ingeniería' %}">Ingeniería
        </a>
      </div>
      <!-- Tema 2 -->
      <div>
        <a href="{% url 'wikiApp:Informática' %}">Informática
        </a>
      </div>
      <!-- Tema 3 -->
      <div>
        <a href="{% url 'wikiApp:Economía' %}">Economía
        </a>
      </div>
      <!-- Tema 4 -->
      <div>
        <a href="{% url 'wikiApp:Derecho' %}">Derecho
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:nuevoTema' %}">
          <button class="create-button">Crear nuevo tema</button>
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:nuevoArticulo' %}">
          <button class="create-button">Crear nuevo artículo</button>
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:inicio' %}">
          <button class="create-button">Inicio</button>
        </a>
      </div>
    </div>

    <!-- Panel derecho -->
    <div class="right-panel">
      <h2 class="article-title">Crisis económica argentina - 2022</h2>
      <h3 class="item-subtitle">Tema: Economía</h3>
      <div class="article-content">
        <p>
            En 2022, la economía de Argentina enfrentó serios desafíos debido a una alta inflación, una deuda externa significativa y una desaceleración del crecimiento económico. La inflación alcanzó niveles elevados, lo que erosionó el poder adquisitivo de la población y complicó las políticas económicas del gobierno. A pesar de los esfuerzos por controlar la deuda y las negociaciones con el Fondo Monetario Internacional (FMI) para reestructurar los pagos, el país continuó enfrentando una crisis cambiaria y una falta de confianza en su moneda. La economía estuvo afectada por factores como la inestabilidad política, la falta de inversión y el impacto de la pandemia de COVID-19. Sin embargo, Argentina mantuvo sectores clave como la agricultura y la minería como motores de exportación, aunque con restricciones en su competitividad debido a la inflación y las políticas cambiarias.
        </p>
      </div>
    </div>
  </div>
</body>
</html>
