<!DOCTYPE html>
<html>
<head>
  <title>Wikipedia</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'articulos.css' %}">
</head>
<body>
  <div class="container">
    <!-- Panel izquierdo -->
    <div class="left-panel">
      <h2 class="title">WIKIPEDIA</h2>
      <!-- Barra de búsqueda -->
      <div class="search-container">
        <input type="text" placeholder="Buscar..." class="search-input">
        <button class="search-button">Buscar</button>
      </div>
      <h3 class="title">Temas:</h3>
      <!-- Tema 1 -->
      <div>
        <a href="{% url 'wikiApp:Ingeniería' %}">Ingeniería
        </a>
      </div>
      <!-- Tema 2 -->
      <div>
        <a href="{% url 'wikiApp:Informática' %}">Informática
        </a>
      </div>
      <!-- Tema 3 -->
      <div>
        <a href="{% url 'wikiApp:Economía' %}">Economía
        </a>
      </div>
      <!-- Tema 4 -->
      <div>
        <a href="{% url 'wikiApp:Derecho' %}">Derecho
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:nuevoTema' %}">
          <button class="create-button">Crear nuevo tema</button>
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:nuevoArticulo' %}">
          <button class="create-button">Crear nuevo artículo</button>
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:inicio' %}">
          <button class="create-button">Inicio</button>
        </a>
      </div>
    </div>

    <!-- Panel derecho -->
    <div class="right-panel">
      <h2 class="article-title">Ciencia de datos</h2>
      <h3 class="item-subtitle">Tema: Informática</h3>
      <div class="article-content">
        <p>
            La ciencia de datos es una disciplina que combina estadísticas, matemáticas, programación y conocimiento del negocio para extraer información valiosa y tomar decisiones informadas a partir de grandes volúmenes de datos. Utiliza técnicas de análisis exploratorio, modelado predictivo y aprendizaje automático para descubrir patrones, tendencias y relaciones ocultas en los datos. Los científicos de datos aplican estas herramientas para resolver problemas complejos en diversas áreas como marketing, salud, finanzas y tecnología, con el objetivo de optimizar procesos, mejorar resultados y generar ventajas competitivas.
        </p>
      </div>
    </div>
  </div>
</body>
</html>
