<!DOCTYPE html>
<html>
<head>
  <title>Wikipedia</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'articulos.css' %}">
</head>
<body>
  <div class="container">
    <!-- Panel izquierdo -->
    <div class="left-panel">
      <h2 class="title">WIKIPEDIA</h2>
      <!-- Barra de búsqueda -->
      <div class="search-container">
        <input type="text" placeholder="Buscar..." class="search-input">
        <button class="search-button">Buscar</button>
      </div>
      <h3 class="title">Temas:</h3>
      <!-- Tema 1 -->
      <div>
        <a href="{% url 'wikiApp:Ingeniería' %}">Ingeniería
        </a>
      </div>
      <!-- Tema 2 -->
      <div>
        <a href="{% url 'wikiApp:Informática' %}">Informática
        </a>
      </div>
      <!-- Tema 3 -->
      <div>
        <a href="{% url 'wikiApp:Economía' %}">Economía
        </a>
      </div>
      <!-- Tema 4 -->
      <div>
        <a href="{% url 'wikiApp:Derecho' %}">Derecho
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:nuevoTema' %}">
          <button class="create-button">Crear nuevo tema</button>
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:nuevoArticulo' %}">
          <button class="create-button">Crear nuevo artículo</button>
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:inicio' %}">
          <button class="create-button">Inicio</button>
        </a>
      </div>
    </div>

    <!-- Panel derecho -->
    <div class="right-panel">
      <h2 class="article-title">Economía de Alemania al 2030</h2>
      <h3 class="item-subtitle">Tema: Economía</h3>
      <div class="article-content">
        <p>
            La economía alemana al 2030 enfrenta desafíos significativos debido a la transición hacia una economía más sostenible, la digitalización y el envejecimiento de la población. Alemania planea reducir su dependencia de los combustibles fósiles, aumentando la inversión en energías renovables y promoviendo la innovación tecnológica en sectores como la inteligencia artificial, la automoción eléctrica y la industria 4.0. Aunque el país sigue siendo un líder en manufactura e ingeniería, la escasez de mano de obra calificada y la necesidad de adaptarse a las nuevas realidades geopolíticas, como la globalización y las tensiones comerciales, podrían afectar su crecimiento. Sin embargo, con un enfoque en la sostenibilidad y la transformación digital, Alemania busca mantener su posición como una de las principales economías globales hacia 2030.
        </p>
      </div>
    </div>
  </div>
</body>
</html>
