<!DOCTYPE html>
<html>
<head>
  <title>Wikipedia</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'articulos.css' %}">
</head>
<body>
  <div class="container">
    <!-- Panel izquierdo -->
    <div class="left-panel">
      <h2 class="title">WIKIPEDIA</h2>
      <!-- Barra de búsqueda -->
      <div class="search-container">
        <input type="text" placeholder="Buscar..." class="search-input">
        <button class="search-button">Buscar</button>
      </div>
      <h3 class="title">Temas:</h3>
      <!-- Tema 1 -->
      <div>
        <a href="{% url 'wikiApp:Ingeniería' %}">Ingeniería
        </a>
      </div>
      <!-- Tema 2 -->
      <div>
        <a href="{% url 'wikiApp:Informática' %}">Informática
        </a>
      </div>
      <!-- Tema 3 -->
      <div>
        <a href="{% url 'wikiApp:Economía' %}">Economía
        </a>
      </div>
      <!-- Tema 4 -->
      <div>
        <a href="{% url 'wikiApp:Derecho' %}">Derecho
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:nuevoTema' %}">
          <button class="create-button">Crear nuevo tema</button>
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:nuevoArticulo' %}">
          <button class="create-button">Crear nuevo artículo</button>
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:inicio' %}">
          <button class="create-button">Inicio</button>
        </a>
      </div>
    </div>

    <!-- Panel derecho -->
    <div class="right-panel">
      <h2 class="article-title">Plan BIM Perú</h2>
      <h3 class="item-subtitle">Tema: Ingeniería</h3>
      <div class="article-content">
        <p>
            El Plan BIM Perú es una iniciativa del gobierno peruano que busca promover la adopción de la metodología Building Information Modeling (BIM) en la industria de la construcción del país. Su objetivo es mejorar la eficiencia, la calidad y la sostenibilidad de los proyectos de infraestructura y edificación a través de la implementación de tecnologías digitales avanzadas. El plan establece directrices y estándares para fomentar el uso de BIM en todas las etapas del ciclo de vida de los proyectos, desde la planificación y diseño hasta la construcción y operación, promoviendo la colaboración entre los actores del sector y mejorando la competitividad y la gestión de recursos en la construcción de obras públicas y privadas.
        </p>
      </div>
    </div>
  </div>
</body>
</html>
