<!DOCTYPE html>
<html>
<head>
  <title>Wikipedia</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'busqueda.css' %}">
</head>
<body>
  <div class="container">
    <!-- Panel izquierdo -->
    <div class="left-panel">
      <h2 class="title">WIKIPEDIA - Busqueda</h2>
      <!-- Barra de búsqueda -->
      <div class="search-container">
        <input type="text" placeholder="Buscar..." class="search-input">
        <button class="search-button">Buscar</button>
      </div>
      <h3 class="title">Temas:</h3>
      <!-- Tema 1 -->
      <div>
        <a href="{% url 'wikiApp:Ingeniería' %}">Ingeniería
        </a>
      </div>
      <!-- Tema 2 -->
      <div>
        <a href="{% url 'wikiApp:Informática' %}">Informática
        </a>
      </div>
      <!-- Tema 3 -->
      <div>
        <a href="{% url 'wikiApp:Economía' %}">Economía
        </a>
      </div>
      <!-- Tema 4 -->
      <div>
        <a href="{% url 'wikiApp:Derecho' %}">Derecho
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:nuevoTema' %}">
          <button class="create-button">Crear nuevo tema</button>
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:nuevoArticulo' %}">
          <button class="create-button">Crear nuevo artículo</button>
        </a>
      </div>
      <div class="buttons">
        <a href="{% url 'wikiApp:inicio' %}">
          <button class="create-button">Inicio</button>
        </a>
      </div>
    </div>

    <!-- Panel derecho -->
    <div class="right-panel">
      <h2 class="search-results-title">Resultados de la búsqueda</h2>
      
      <!-- Resultado de la búsqueda -->
      <div class="search-result">
        <p>Este es el resultado de la búsqueda</p>
      </div>

      <!-- Lista de artículos -->
      <ul class="articles-list">
        <li>Artículo 1</li>
        <li>Artículo 2</li>
        <li>Artículo 3</li>
        <li>Artículo 4</li>
      </ul>
    </div>
  </div>
</body>
</html>
